@media screen and (max-width:800px) { 
    .header_text{
        width: 100%;
        height: 100px;
    }
    
    .headerText_card{
        width: 70%; 
        height: 100%;
        margin: auto;
        position: relative;
        top: 30px;
        left: 50px;
        
    }
    
.header_right{
    width: 30%;
    height: 100%;
}
.header_left{
    width: 70%;
    height: 100%;
}
    .header_left img{ 
        width: 90%;
        height: 90%; 
       margin-top: 15px;
       margin-left: 5px;
        padding: 20px;
    }
    .header_right h1 {
        color: #fff;
        font-size: 60px;
        font-weight: 400;
    }
    .header_right p {
        color: #fff;
        font-size:23px;
    }
    .btn{
        width: 130px;
        height: 40px;
        background: #FC0A7E;
        
        text-align: center;
        padding: 10px;
        color: #fff;
        border-radius: 3px;
        margin-top: 10px;
    }
}


@media screen and (max-width:600px) { 
    
}



@media screen and (max-width:600px) { 
    .header_left {
        width: 70%;
        height: 100%;
    }.header_right {
        width: 30%;
        height: 100%;
        line-height: 1.1;
    }
    .headerText_card{
        width: 100%; 
        height: 100%;
        margin: auto;
        position: relative;
        top: 10px  ;
        left:20px ;
        text-align: center;
        
    }
    .header_right p {
        color: #fff;
        width: 100%;
        position: relative;
        z-index:5 ;
    }
    .header_left img{ 
        width: 110%;
        height: 90%; 
       margin-top: 15px;
       margin-left: -25px;
        padding: 20px;
    }
    .navigation_bar{
        width: 100%;
        height: 65px;
        background: #252526; 
    }
   
    .collection{
        position: fixed;
        top:  -120%;
        background: #252526f5; 
        border: none;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100vh;
        transition: .5s;
        z-index: 10;
    }
    .navLogo{
        width: 25%;
        height: 100%;
    }
    .navLogo img {
        width: 70px;
    }
    .item_collection{
        padding: 30px ;
    }
    #menuOpen{
        display: block;
        color: #fff;
        font-size: 20px;
        padding: 25px;

    }

    #inputCheckbox:checked ~ .collection{
        top: 60px;
        
    }


    #inputCheckbox:checked ~ #labelCheckbox #menuClose {
        display: block;
        color: #fff;
        font-size: 20px;
        padding: 25px;
 
    }

    #inputCheckbox:checked ~ #labelCheckbox #menuOpen {
        display: none;
        padding: 40px;

    }

}
@media screen and (max-width:350px) { 
    .header_right h1 {
        color: #fff;
        font-size: 40px;
    }
    .header_right{
        line-height: 1.2;
    }
}
@media screen and (max-width:600px) { 
    
}
@media screen and (max-width:600px) { 
    
}