@media screen and (max-width:800px) { 
    .container{
        width: 95%;
        height: auto;
        margin: auto;
    }
    
    header{
        width: 100%;
        height: auto;
    }
    .header_text{
        width: 100%;
        height: 350px;
    }
    
    .headerText_card{
        width: 70%; 
        height: 100%;
        margin: auto;
        position: relative;
        top:10px;
        left: 50px;
        
    }
   
    .txt_order2{
        width: 100% ;
        height: 100%;
        margin: auto;
        padding-top: 10px;
        text-align: center;
    }
    .card_group{
        order: 2;
        margin-top: 100px;
    }
    .card_txt{
        width: 100%;
        padding: 10px;
    }

.header_right{
    width: 30%;
    height: 100%;
}
.header_left{
    width: 70%;
    height: 100%;
}
    .header_left img{ 
        width: 90%;
        height: 100%; 
        margin-left:80px;
        padding: 20px;
    }
    .header_right h1 {
        color: #fff;
        font-size: 60px;
        font-weight: 400;
    }
    .header_right p {
        color: #fff;
        font-size:23px;
        width: 250px;
        text-align: center;
    }
    .btn{
        width: 130px;
        height: 40px;
        background: #FC0A7E;
        
        text-align: center;
        padding: 10px;
        color: #fff;
        border-radius: 3px;
        margin-top: 10px;
    }
    .card_item_right img{
        width: 50%;
        height: 350px;
        display: flex;
        
    }
}
@media screen and (max-width:600px) { 
    .container{
        width: 100%;
        height: auto;
        margin: auto;
    }
    .cards_img{
        display: flex;
        justify-content: center;
        width: 60%;
        height: 100%;
    }
    .cards_img img{
        width: 70%;
        height: 100%;
    }

    .cards_text{
        width: 40%;
        height: 100%;
        padding: 0px;
        padding-top: 120px;
    }

    #img_fon_2{
        width: 100% ;
        height: 90%;
    }
    .card_boxs{
        width: 100%;
        height: auto;
    }
    

    .salomm {
        order: 2;
    }

    .card_group{
        width: 100%;
       height: 350px;
        display: flex;
        flex-direction: column;
    }

    .card_item_left{
        width: 100%;
        orphans: 2;
    }
    .card_item_right img{
        padding-top: 20px;
        width: 35%;
        height: 300px;
        display: flex;
        
    }

    .card_item_right{
        width: 100%;
        height: 100%;
    }
    .card_txt{
        width: 100% ;
        height: 100%;
        margin: auto;
        padding-top: 10px;
        text-align: center;
        line-height:1.1;
    }

    .menu_background {
        width: 100%;
        height: 300px;
        background: #1B1B1B;
        position: relative;
    }

    .img_bag img {
        width: 100%;
        height: 200px;
        margin-left: 0;
        position: absolute;
        top: 100px;
    }
    .bag_text {
        width: 100%;
         height: 100px;
        padding-bottom: 30px;
}

    .paragaph2{
        font-size: 16px;
        color: #fff;
    }

   .header_left {
        width: 70%;
        height: 100%;
    }
    .header_right {
        width: 30%;
        height: 100%;
        line-height: 1.1;
    }
    .headerText_card{
        width: 100%; 
        height: 100%;
        margin: auto;
        position: relative;
        top: 20px  ;
        left: 10;
        text-align: center;
        
    }
    .header_right p {
        color: #fff;
        position: relative;
        z-index:5 ;
    }
    .header_left img{ 
        width: 100%;
        height: 100%; 
       margin-left: 45px;
       margin-top: 10px;
        padding: 20px;
    }

    .navigation_bar{
        width: 100%;
        height: 65px;
        background: #252526; 
    }
   
    .collection{
        position: fixed;
        top:  -120%;
        background: #252526f5; 
        border: none;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100vh;
        transition: .5s;
        z-index: 10;
    }
    
    .navigation_bar{
        position: fixed;
        top: 0;
        z-index: 10;
    }
    header{
        margin-top:60px;
    }
    .navLogo{
        width: 25%;
        height: 100%;
    }
    .navLogo img {
        width: 70px;
    }
    .item_collection{
        padding: 30px ;
    }
    #menuOpen{
        display: block;
        color: #fff;
        font-size: 20px;
        padding: 25px;

    }
    .card_item_left {
        width: 100%;
        margin-top: -100px;
    }
    .txt_order2{
        width: 100%;
    }

    #inputCheckbox:checked ~ .collection{
        top: 60px;
        
    }


    #inputCheckbox:checked ~ #labelCheckbox #menuClose {
        display: block;
        color: #fff;
        font-size: 20px;
        padding: 25px;
 
    }

    #inputCheckbox:checked ~ #labelCheckbox #menuOpen {
        display: none;
        padding: 40px;

    }
    .card_txt p {
        padding: 10px;
    }

}
@media screen and (max-width:350px) { 

    .cards_group{
        display: flex;
        flex-direction: column;
        height: 350px;
    }

    .cards_text{
        order: 2;
        padding: 0;
        width: 100%;
    }
    .cards_img{
       order: 1;
       margin-left: 20%;
    }

    .boxs{
        width: 90%;
        height:200px;
    }

    .card_item_left {
        width: 100%;
        margin-top: -100px;
    }
    .txt_order2{
        width: 100%;
        margin-top: 20px;
    }

    .headerText_card{
        width: 100%; 
        height: 100%;
        position: relative;
        top: 10px  ;
        left: 5px;
        
    }
 
    .header_right h1 {
        color: #fff;
        font-size: 40px;
    }
    .header_right{
        line-height: 1.2;
    }

    br{
    display: none;
    }
}
@media screen and (max-width:600px) { 
    
}
@media screen and (max-width:600px) { 
    
}