*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    width: 100%;
    height: 600px;
    background: url("./image/Rectangle.png")  center/cover ;
    overflow: hidden;
}

.header_card{

}
#inputCheckbox{
    display: none;
}



#menuOpen{
    display: none;
}
#menuClose{
    display: none;
}

.navigation_bar{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
}


.navLogo{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navLogo img {
    width: 90px;
}

.collection{

    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-content: flex-start;
    justify-content: space-around;
    list-style: none;
    color: #fff;
    font-size: 13px;
}

.header_text{
    width: 100%;
    height: 100%;
    display: flex;
}

.header_right{
    width: 50%;
    height: 100%;
    line-height: 1.4;
}
.headerText_card{
    width: 70%; 
    height: 100%;
    margin: auto;
    position: relative;
    top: 100px;
    left: 50px;
    
}
.header_left {
    width: 50%;
    height: 100%;
}

.header_left img{ 
    width: 75%;
    height: 90%;
   margin-left: 50px; 
   margin-top: 15px;
    padding: 20px;
}

.header_right h1 {
    color: #fff;
    font-size: 80px;
    font-weight: 400;
}
.header_right p {
    color: #fff;
    font-size:30px;
    width: 400px;
}
.btn{
    width: 130px;
    height: 40px;
    background: #FC0A7E;
    
    text-align: center;
    padding: 10px;
    color: #fff;
    border-radius: 3px;
    margin-top: 10px;
}

.menu_background{
    width: 100%;
    height: 650px;
    background: #1B1B1B;
    position: relative;
}

.bag_text{
    width: 70%;
    height: 100px;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    line-height: 1.4;
    color: #fff;
}

.paragaph2{
    font-size: 35px;
    color: #fff;
}
.img_bag img {
    width: 70%;
    height: 100%;
    margin: auto;

}
.footer_gradient{
    width: 100%;
    height: 10px;
}
.img_bag img {
    width: 80%;
    height: 500px;
    margin-left: 10%;
    position: absolute;
    top: 150px;
}


.card_boxs{
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    justify-content: space-around;
    align-content: flex-end;
    flex-wrap: wrap;
}

.boxs{
    width: 250px;
    height:200px;
   display: flex;
    justify-content: center;
    margin-top: 10px;

    
    
}
.boxs_text{
    text-align: center;
    line-height: 1.5;
    padding-top: 40px;
}
.boxs_text p {
    font-size: 11px;
    color: #555;
}
.boxs_text i {
    font-size: 31px;
    padding-bottom: 20px;
    color: rgb(216, 29, 160);
}

.container{
    width: 75%;
    height: auto;
    margin: auto;
}

.cards_group{
    margin-top: 10px;
    width: 100%;
    height: 350px;
    display: flex;
}

.cards_text{
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 20px 40px;
    padding-top: 130px;
    line-height: 1.6;
}
.cards_img{
    width: 50%;
    height: 100%; 
    display: flex;
    justify-content: center;
}
.cards_text p {
    font-size: 13px;
    color: #555;
}

.cards_img img{
    width: 50%;
    height: 100%;
    display: flex;

    
}

#img_fon_2{
    width: 70% ;
    height: 90%;
}

.content_cards{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
}
.cards_item{
    width: 150px;
    height: 90px;
    margin-top: 10px;
    text-align: center;
    font-weight: 200;
}

.number_p{
    font-size: 39px;
}
.text_p{
    padding-top: 5px;
    font-size: 16px;
}
.cantent_menu{
    width: 80%;
    height: auto;
    margin: auto;
}

.content_group{
    width: 100% ;
    height: 300px;
    display: flex;
}
.content_texts{
    width: 50%;
    height: auto;
    text-align: start;
    padding: 10px 20px;
    line-height: 1.6;

}
.content_texts p {
    font-size: 12px;
    color: #555;
}
.content_images{
    width: 50%;
    height: auto;

}
.content_images img{
    width: 70%;
    height: 300px;
    margin-left: 5%;
}
.menu_text{
    width: 40%;
    height: 200px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    line-height: 1.4;
    color: #555;
    font-size: 14px;
}
.cards_liner{
 width: 70%;
 height: 30px;
 margin: auto;
}
.cards_liner  img {
    width: 100%;
    height: 100%;
   }

   .back_footer{
       width: 100%;
       height: 450px;
       margin-top: 30px;
       background: url("./image/baclground2.png") no-repeat center/cover;
   }
.footer_gradient{
    width: 100%;
    height: 200px;
    background-image: linear-gradient(65deg,#C60865,#920D64,#751678,#6C1A82,#671D86);
}
.gradient_text{
    width: 30%;
    height: 100%;
    margin: auto;
    font-size: 23px;
    text-align: center;
    padding-top: 50px;
    color: #fff;

}

.btn_txt{
    width: 100%;
    height: 45px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.btn_footer{
    width: 40%;
    height: 100%;
    padding-top: 14px;
    border-radius: 5px;
}

footer{
    width: 100%;
    height: 250px;
    border: 1px solid transparent;
    background: #1B1B1B;
    text-align: center;
    color: #fff;
    padding-top: 50px;
    line-height: 1.9;
    transition: .5s;
}
form{
    padding-top: 20px;
}
form input{
    height: 40px;
}

.input1{
    width: 20%;
    padding-left: 15px;
}
.input2{
    width: 8%;
    background: #920D64;
    border: none;
    position: relative;
    left: -5px;
}
.theEnd{
    width: 100%;
    height: 70px;
    background: #1B1B1B;
}
.coll{
    padding-top: 30px;
    width: 70%;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.coll_items{
    font-size: 11px;
    color: #555;
    list-style: none;

}
footer:hover {
    border: 1px solid #fff;
}





